

/*..........FORMULÁRIO EDIÇÃO USUÁRIO...........*/
/*.....MENSAGEM ALERTA LISTA VAZIA.......*/
section.container_editarForm{
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
margin:auto;
padding:0;
max-width:max-content;
height:auto;
position:relative;
background-color: #96969c;
}

/*.......FORMULÁRIO........*/
.form_edit{
    padding:15px 10px;
    margin:1em auto;
    max-width:100%;
    height:auto;
    border-radius:5px solid #000000;
    display:flex;
    flex-direction:column;
    align-items: center;
    align-content: center;
}

div.container-inputs{
   display:flex;
   flex-direction: column;
   align-items: start;
   justify-content: center;
   padding:10px;
   margin:1em auto 0;
   max-width:100%;
   height:auto;
   border-radius:5px solid #000000;   
}

label.editarNome{
    font-size: clamp(1.2em, 18px + 1vw, 1.2vw);
    width:max-content;
    height:auto;
    color:#fff;
    text-shadow: 2px 2px 5px #000;
}

.input_edit{
   width:clamp(280px, 300px + 1vw, 1vw);
   height:auto;
   margin:5px auto 0;
   padding:10px 5px;
   box-shadow:1px 1px 3px 3px #490949a4;
   border:none;
}

/*.........MENSAGEM DE ERRO........*/
p.messagem{
    color:#810000;
    text-align:center;
    padding:3px 5px;
    max-width:max-content;
    height:auto;
    background-color: rgb(255, 234, 112);
    margin:5px auto 0;
}
