@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Anton&family=Dancing+Script:wght@400..700&display=swap');

.body_home{
   background-color: #F5FFF9;
   margin:0;
}

/*....container geral app....*/
section#containerGeral_home{
   display:flex;
   flex-direction: column;
   align-items: center;
   align-content: center;
   margin:10px auto 10px;
   padding:0;
   width:max-content;
   height:100%;
   box-sizing: border-box; 
   background: linear-gradient(#e66464af, #c4c7f094, #d6e5916e);
}

/*....faixa escura no topo....*/
div.coloredStrip{
   min-width: 360px;
   height:40px;
   margin:auto;
   box-sizing: border-box;
   background-color: #350606;
}

/*....container geral cabeçalho....*/
.container-header{
   display:flex;
   flex-direction: column; 
   align-items: center;
   align-content:center;
   min-width: 360px;
   height:auto;
   margin:auto;
   padding:10px 0;
   background: linear-gradient(#e4d1d17c, #ffafaf79);

}
/*....container header primeiros socorros....*/
.divHeader{
   display:flex;
   flex-direction: row;
   gap:2em;   
   align-items:center;
   align-content:center;
   width: max-content;
   height:auto;
   margin:auto;
   padding:0;
}

.figure-heartHome{
   display:block;
   align-items: center;
   align-content:center;
   max-width: 100%;
   height:auto;
   margin:0;
   padding:0;
   
}

.figure-heartHome img{
   width:75px;
   height:auto;
   padding:0;
   margin:auto;
   
 }

 .container-textHeader{
   display:flex;
   flex-direction: row;
   align-items: center;
   align-content:center;
   width: content;
   height:auto;
   margin:auto;
   position:relative;
 }
/*......text-primeiros socorros.......*/
.text-header{
   display:flex;
   align-items: center;
   align-content:center;
   max-width: 100%;
   height:auto;
   margin:0;
   padding:0;
   font-size:clamp(1.4em, 2em + 1vw, 1vw);
}

.textCruz{ 
   max-width:content;
   height:content;
   margin:0;
   padding:0;
   color:#ff0000;  
   font-size:clamp(3rem, 1em + 1vw, 2vw);
   font-family: "Dancing Script", serif;
   transform: translate(-12px, -8px);
   position:absolute;
   
}

 .figure-barHome{
   max-width: 100%;
   height:auto;
   margin:auto;
}

.figure-barHome img{
   width:45px;
   height:auto;
   padding:5px;
   margin:auto;
}

div.container_texto_Chame_Emerg{
   width:max-content;
   height:auto;
   margin:auto;
   padding:0;

}

.text_chame{
   font-size:clamp(0.875em, 1em + 1vw, 2vw);
   margin:5px auto 0;
   padding:0;
   width:content;
   height:auto;
}

.text_chame span{
   font-size:clamp(1.4rem, 1em + 1vw, 2vw);
  
}

/*....TEXTO PROCEDIMENTOS EMERGENCIAIS....*/

div#procedimentos{ 
   display:flex;
   flex-direction: row;
   align-items: center;
   justify-content:center;
   gap:5px;
   width:100%;
   height:100%; 
   margin:5px auto;
   padding:10px 0; 
   background-color: #d8bfd091;
   box-shadow: 1px -11px 20px -2px rgba(170, 124, 124, 0.71);
}
p.cruz{
   font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;  
   font-weight:bold; 
   font-size: clamp(1.2em, 1rem + 1vw, 2vw);
   max-width:100%;
   height:auto;
   text-align: center;
   margin:auto 0;
   padding:0 5px;
   border:1px solid #40404018;
   border-radius:7px;
   box-shadow: 1px 1px 3px #6b6b6b65;
   text-align: center;
   color:red;
}

h3.text-procedimentos{
   font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  
   max-width:100%;
   height:auto;
   margin:auto 0;
   padding:0;
   text-align: center;
   font-size: clamp(1em, .5rem + .5vw, 2vw);
}

/*..........CONFIGURAÇÕES GERAL.......*/

/*....LINKS PROCEDIMENTOS...*/
a.links_procedimentos{
   display:block;
   min-width:355px;
   height:auto;
   text-decoration:none;
   cursor:pointer;
}
.texto_links{
   font-size:clamp(1.3rem, 1em + 1vw, 2vw);
   max-width: 100%;
   margin:0;
   padding:0;
}

div.container-links{
   display:flex;
   flex-direction: row;
   align-items: center;
   justify-content:space-between; 
   max-width: 100%;
   height:100%; 
   margin:9px 30px;
   padding:12px 20px;
   box-shadow: 1px 1px 3px #002222;
   border-radius:10px; 
}

.links_figures{
   max-width: 100%;
   height:auto;
   margin:0;
   padding:0;
}
.figure-heartLink{
   max-width: 100%;
   height:auto;
   margin:0;
   padding:0;
}

.figure-heartLink img{
   width:25px;
   height:auto;
   margin:0;
   padding:0;
   filter:sepia(100);
} 
/*..........CONFIGURAÇÕES ESPECÍFICAS.......*/

/*.......CALCULADORA IMC.......*/

.container-imc{
   background-image: url("/images/imc.png");
   color:#fff;
   filter: grayscale(52%) sepia(70%);
}



/*.....DESMAIOS.....*/
.figure-desmaio img{
   width:60px;
   height:auto;
   padding:0;
   margin:0;
}

/*.....EPILEPSIA imagem.....*/
.figure-epilepsia img{
   width:100px;
   height:auto;
   padding:0;
   margin:0;
   transform: rotateZ(-10deg) translateX(-15px);
}

/*.....HEMORRAGIA imagem.....*/
.figure-hemorragia img{
   width:80px;
   height:auto;
   padding:0;
   margin:0;
}
/*.....FRATURAS imagem.....*/
.figure-fratura img{
   width:50px;
   height:auto;
   padding:0;
   margin:0;
}

/*.....ESTADO CHOQUE imagem.....*/
.figure-estadoChoque img{
   width:35px;
   height:auto;
   padding:0;
   margin:0;
}


/*..........FOOTER...........*/
#container-footer{
   display:flex;
   flex-direction: row;
   align-items: center;
   justify-content:center; 
   width: 100%;
   height:100%; 
   margin: 8px auto 0;
   padding:12px 0;
   border-top:1px solid #350606;   
   background: linear-gradient(#d8cccc9c, #ff9e9e99);
}
.figure-footer{ 
   display:flex;
   flex-direction: row;  
   align-items: center; 
   align-content: center;
   max-width: 100%;
   height:100%; 
   margin:auto;
   padding:5px;
   box-shadow: 1px 1px 3px #7b7a7a;  
}
.figure-footer img{
   width:40px;
   height:auto;
   margin:0;
   padding:0; 
   
} 