section.container-listUsers{
   margin:1em auto 0;
   padding:0;
   max-width: 95%;
   height:auto;
   background-color: #d5fcffd2;
   display:flex;
   flex-direction: column;
   align-items: center;
   align-content: center;
   position:relative;
      
}
div.container-goback{
   display:flex;
   flex-direction: column;
   gap:.8em;
   align-items:start;
   position:absolute;
   top:10%;
   left:2%;
}
a.goback{
   width:content;
   height:auto;
   margin:0;
   padding:0;
   text-decoration:none;
   cursor:pointer;
   
}
h4.back{   
   display:flex;
   flex-direction: column;
   margin:0;
   padding:0;
   width:content;
   height:auto;
   color:#5a95ec;
   font-size:clamp(1.1em, 1.1em + .5vw, 3vw);
   transition:transform .7s ease-in-out;   
}
h4:hover{
transform:scale(1.1);
color:#2b34aa;
text-shadow: 2px 2px 3px #fff;
transform:translateX(-.3em);
opacity:1;
}

h3{
   display:flex;
   flex-direction: column;
   align-items: center;
   align-content: center;
   max-width: max-content;
   height:auto;
   padding:0 5px;
   margin:1em auto;
   text-align: center;
   font-size:clamp(1em, 1em + 1vw, 6vw);

}

table, tr{
border: 1px solid;  
  width:95%;  
  overflow-x: auto;
}
th{
   border: 1px solid #000;
   text-align: center;
   padding:7px 0;
   
}
tr{
    font-size:clamp(1em, .7em + 1vw, 2vw);
}
div.aviso{
   display:flex;
   flex-direction: row;
   align-items:center;
   align-content:center;
   margin:0 auto;
   padding:2px 3em;
   max-width: 100%;
   height:auto;
   gap: 1em;
   background-color: #ffc107;
}

figure.container_folder{
   display:flex;
   align-items: center;
   max-width: 100%;
   height:auto;
   margin:auto;
   padding:0;
   text-align: center;
}

p.alerta_cadastre{
 display:flex;
 align-items: center;
  max-width:100%;
  height:auto;
  margin:auto;
  padding:0;
  font-size:clamp(1.1em, 1.2em + 1vw, 2vw);
}
img.folder_empty{
   width:clamp(40px, 10px + 3vw, 15vw);
   margin:0;
   padding:0;
}
td{
   background-color: #15053f;
   width:91.5px;
   height:30px;
   color:#fff;
    font-size:clamp(.8em, .7em + 1vw, 1vw);
    padding:7px 0;
}

