<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CADASTRO</title>
    <link rel="stylesheet" th:href="@{/css/cadastro.css}">
    <link rel="stylesheet" th:href="@{/css/geral.css}">
    <script th:src="@{/script/cadastro.js}"></script>

</head>

<body class="body_cadastro">
<section class="containerGeral-cadastro">
    <a th:href="@{/}" class="links-pag">
        <figure class="reply_login">
            <img src="/images/reply_black_24dp.png">
        </figure>
    </a>
    <figure class="heart_cadastro">
        <img src="/images/heart.png">
    </figure>
    <h2 class="text-cadastro">CADASTRO</h2>
    <div class="container_cadastro">
        <div th:if="${mensagem}" class="alert" id="alerta">
            <p th:text="${mensagem}"></p>
        </div>
        <form class="form_cadastro" th:action="@{/salvar}" th:object="${newUser}"  method="post" onsubmit="limparCampos()">
            <div class=" container_cadastro-nome">
                <label for="nome" class="label_cadastro label_cadastro-nome">Nome</label><br>
                <input th:field="*{nome}" type="text" class="input_cadastro input_cadastro-nome" id="nome" name="nome" placeholder="Digite seu primeiro nome" required>
            </div>
            <div class="containers_cadastro container_cadastro-email">
                <label for="email" class="label_cadastro label_cadastro-email" >Email</label><br>
                <input th:field="*{email}" type="email" class="input_cadastro input_cadastro-email" id="email" name="email" placeholder="seu@email.com" required>
            </div>
            <div class="containers_cadastro container_cadastro-psw">
                <label for="password" class="label_cadastro label_cadastro-psw" >Password</label><br>
                <input th:field="*{senha}" type="password" class="input_cadastro input_cadastro-password" id="password" name="senha" placeholder="Digite sua senha" required>
            </div>
            <button type="submit" class="btn_cadastro btn_1-cadastro -">Enviar</button>
        </form>
    </div>
</section>
</body>
</html>