<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>EDITAR USUÁRIOS</title>
  <link rel="stylesheet" th:href="@{/css/editUsers.css}">
  <link rel="stylesheet" th:href="@{/css/geral.css}">
  <script th:src="@{/script/eventos.js}"></script>
</head>

<body>
<section class="container_editarForm">

  <!--...FORMULÁRIO DE EDIÇÃO DE USUÁRIO....-->

  <form class="form_edit" th:action="@{/editar/{id}(id=${editaUser.id})}" th:object="${editaUser}" method="post"
        id="editId">

    <!--... LIMPAR CAMPOS -> função em "cadastro.js" ...-->
    <div class=" container_cadastro-nome">
      <label for="nome" class="editarNome label_cadastro-nome">Nome</label><br>
      <input th:field="*{nome}" type="text" class="input_cadastro input_cadastro-nome" id="nome" name="nome"
             placeholder="Digite seu primeiro nome"><br>

      <!-- MENSAGEM DE ERRO PARA NOME-->
      <p th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}" class="message">
        <!--...Aqui será lançado a mensagem de erro-->
      </p>
    </div>

    <div class="containers_cadastro container_cadastro-email">
      <label for="email" class="editarNome label_cadastro-email">Email</label><br>
      <input th:field="*{email}" type="email" class="input_cadastro input_cadastro-email" id="email" name="email"
             placeholder="seu@email.com"><br>

      <!-- MENSAGEM DE ERRO PARA EMAIL-->
      <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="message">
        <!--...Aqui será lançado a mensagem de erro-->
      </p>
    </div>
    <div class="containers_cadastro container_cadastro-psw">
      <label for="password" class="editarNome label_cadastro-psw">Password</label><br>
      <input th:field="*{senha}" type="password" class="input_cadastro input_cadastro-password" id="password"
             name="senha"
             placeholder="Digite sua senha"><br>

      <!-- .....MENSAGEM DE ERRO PARA SENHA..... -->
      <p class="message" th:if="${#fields.hasErrors('senha')}" th:errors="*{senha}">
        <!--...Aqui será lançado a mensagem de erro-->
      </p>
    </div>
    <!--.....MENSAGEM NA LISTA DE USUÁRIOS - vinda do Controller...-->
  <div th:if="${messageError}" class="alert_listUsers" id="alerta_listUsers">
    <p th:text="${messageError}"></p>
  </div>

    <button type="submit" class="btn-submit" onclick="confirmarEdicao(event)">Enviar</button>
  </form>
  
</section>
</body>
</html>
