<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Home</title>
      <meta name="author" content="Jailson Rodrigues"/>
      <link rel="stylesheet" th:href="@{/css/home.css}">
      <link rel="stylesheet" th:href="@{/css/geral.css}">
      <script th:src="@{/script/cadastro.js}"></script>
   </head>

<body class="body_home">
   <!--...container geral app....-->
   <section id="containerGeral_home">

      <!--...faixa escura no topo....-->
      <div class="coloredStrip">
      </div>

         <!--...container geral cabeçalho....-->
      <header class="container-header">

         <!--container header primeiros socorros-->

         <div class="divHeader">

            <figure class="figure-heartHome">
               <img src="/images/heart.png">
            </figure>

            <div class="container-textHeader">

               <h3 class="textCruz">+</h3>

               <h2 class="text-header">PRIMEIROS<br>SOCORROS</h2>
            </div>
            <!--.......DROPDOWN-MENU.........-->
            <nav class="dropdown">
               <figure class="barMenu" id="bar-trigger">
                  <img class="dropdown-toggle bar-menu" src="/images/bar_menu.png" alt="barra de menu">
               </figure>               
                  <ul class="dropdown-menu" id="dropdown-trigger">
                     <a class="dropdown-item" href="#"><li><span class="simbol">&#10913;</span>Home</li></a>
                     <a class="dropdown-item" href="#"><li><span class="simbol">&#10913;</span>Login</li></a>
                     <a class="dropdown-item" href="#"><li ><span class="simbol">&#10913;</span>Cadastro</li></a>
                     <a class="dropdown-item" href="#"><li><span class="simbol">&#10913;</span>Lista Usuários</li></a>
                  </ul>
            </nav>
         </div>
      </header>      

      <!--.........CALCULADORA IMC.........................................-->
       <a href="/imc" class="links_procedimentos">
         <div class="container-imc">
            <h3 class="text-imc">Calcule seu IMC</h3>
            <figure class="heart_imc">
               <img class="heart-calculadora" src="/images/heart.png" alt="heart">
            </figure>

         </div>         
      </a>
      
      <!--PROCEDIMENTOS EMERGENCIAIS-->
      <div id="procedimentos">
         <p class="cruz">+</p>
         <h3 class="text-procedimentos"> PROCEDIMENTOS EMERGENCIAIS</h3>
      </div>

      <!--........LINKS PROCEDIMENTOS......................................-->

       <!--.....DESMAIOS.....-->
      <a href="" class="links_procedimentos link-desmaios">
         <div class="container-links container-desmaios">           

            <figure class="links_figures figure-desmaio">
               <img class="desmaio-img" src="/images/desmaio.png" alt="pessoa desmaiad">
            </figure>           
            <h3 class="links_text text-desmaios">Desmaios</h3>

            <figure class="figure-heartLink">
               <img src="/images/heart.png" alt="heart">
            </figure>

         </div>
      </a>
      <!--.....EPILEPSIA.....-->
      <a href="" class="links_procedimentos link-epilepsia">

         <div class="container-links container-epilepsia">

            <figure class="links_figures figure-epilepsia">
               <img class="epilepsia-img" src="/images/epiletico.png" alt="pessoa com eplepsia">
            </figure>

            <h3 class="links_text text-epilepsia">Epilepsia</h3>

            <figure class="figure-heartLink">
               <img src="/images/heart.png" alt="heart">
            </figure>

         </div>
      </a>
      <!--.....HEMORRAGIA.....-->
      <a href="" class="links_procedimentos link-hemorragia">

         <div class="container-links container-hemorragia">

            <figure class="links_figures figure-hemorragia">
               <img class="hemorragia-img" src="/images/hemorragia.png" alt="mão sangrando">
            </figure>

            <h3 class="links_text text-hemorragia">Hemorragia</h3>

            <figure class="figure-heartLink">
               <img src="/images/heart.png" alt="heart">
            </figure>

         </div>
      </a>
      <!--.....FRATURAS/CONTUSÕES.....-->
      <a href="" class="links_procedimentos link-fraturas">

         <div class="container-links container-fraturas">
            <figure class="links_figures figure-fratura">
               <img class="hemorragia-img" src="/images/fratura.png" alt="Mulher caiu-fratura">
            </figure>

            <h3 class="links_text text-hemorragia">Fraturas</h3>

            <figure class="figure-heartLink">
               <img src="/images/heart.png" alt="heart">
            </figure>

         </div>
      </a>
      <!--não está em uso
            .....ESTADO CHOQUE.....
         <a href="" class="links_procedimentos link-estadoChoque">
            <div class="container-links container-estadoChoque">
               
               <figure class="links_figures figure-estadoChoque">
                  <img class="estadoChoque-img" src="/images/estado_choque.png" alt="homem estado choque">
               </figure>

               <h3 class="links_text text-hemorragia">Estado Choque</h3>

               <figure class="figure-heartLink">
                  <img src="/images/heart.png" alt="heart">
               </figure>

            </div>
         </a>
      -->

        <!--..........FOOTER.................-->
      <footer id="container-footer">

         <figure class="figure-footer casa">
            <img src="/images/house-solid.png" alt="casa">
         </figure>

         <figure class="figure-footer ambulancia">
            <img src="/images/ambulancia.png" alt="ambulância">
         </figure>

         <figure class="figure-footer opcoes">
            <img src="/images/escolha.png" alt="casa">
         </figure>

      </footer>
   </section>

</body>

</html>