<!DOCTYPE html>
<html lang="pt-br">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Home</title>
      <meta name="author" content="Jailson Rodrigues"/>
      <link rel="stylesheet" href="/css/home.css">
      <link rel="stylesheet" href="/css/geral.css">
   </head>

<body class="body_home">
   <!--...container geral app....-->
   <section id="containerGeral_home">

      <!--...faixa escura no topo....-->
      <div class="coloredStrip"></div>

      <!--...container geral cabeçalho....-->
      <header class="container-header">

         <!--container header primeiros socorros-->

         <div class="divHeader">

            <figure class="figure-heartHome">
               <img src="/images/heart.png">
            </figure>

            <div class="container-textHeader">

               <h3 class="textCruz">+</h3>

               <h2 class="text-header">PRIMEIROS<br>SOCORROS</h2>
            </div>

            <figure class="figure-barHome">
               <img class="bar-home" src="/images/bars-solid.png">
            </figure>

         </div>

         <div class="container_texto_Chame_Emerg">

            <p class="text_chame">Chame a emergência <span>&#10548</span>
            </p>

         </div>

      </header>

   <!--.........CALCULADORA IMC.........................................-->
       <a href="/imc" class="links_procedimentos link-desmaios">
         <div class="container-links container-imc">           
                      
            <h3 class="links_text text-desmaios">Calcule seu IMC</h3>

            <figure class="figure-heartLink">
               <img class="heart-imc" src="/images/heart.png" alt="heart">
            </figure>

         </div>         
      </a>
      
      <!--PROCEDIMENTOS EMERGENCIAIS-->
      <div id="procedimentos">
         <p class="cruz">+</p>
         <h3 class="text-procedimentos"> PROCEDIMENTOS EMERGENCIAIS</h3>
      </div>

      <!--........LINKS PROCEDIMENTOS......................................-->

      
           
       <!--.....DESMAIOS.....-->
      <a href="" class="links_procedimentos link-desmaios">
         <div class="container-links container-desmaios">           

            <figure class="links_figures figure-desmaio">
               <img class="desmaio-img" src="/images/desmaio.png" alt="pessoa desmaiad">
            </figure>           
            <h3 class="links_text text-desmaios">Desmaios</h3>

            <figure class="figure-heartLink">
               <img src="/images/heart.png" alt="heart">
            </figure>

         </div>
      </a>
      <!--.....EPILEPSIA.....-->
      <a href="" class="links_procedimentos link-epilepsia">

         <div class="container-links container-epilepsia">

            <figure class="links_figures figure-epilepsia">
               <img class="epilepsia-img" src="/images/epiletico.png" alt="pessoa com eplepsia">
            </figure>

            <h3 class="links_text text-epilepsia">Epilepsia</h3>

            <figure class="figure-heartLink">
               <img src="/images/heart.png" alt="heart">
            </figure>

         </div>
      </a>
      <!--.....HEMORRAGIA.....-->
      <a href="" class="links_procedimentos link-hemorragia">

         <div class="container-links container-hemorragia">

            <figure class="links_figures figure-hemorragia">
               <img class="hemorragia-img" src="/images/hemorragia.png" alt="mão sangrando">
            </figure>

            <h3 class="links_text text-hemorragia">Hemorragia</h3>

            <figure class="figure-heartLink">
               <img src="/images/heart.png" alt="heart">
            </figure>

         </div>
      </a>
      <!--.....FRATURAS/CONTUSÕES.....-->
      <a href="" class="links_procedimentos link-fraturas">

         <div class="container-links container-fraturas">
            <figure class="links_figures figure-fratura">
               <img class="hemorragia-img" src="/images/fratura.png" alt="Mulher caiu-fratura">
            </figure>

            <h3 class="links_text text-hemorragia">Fraturas</h3>

            <figure class="figure-heartLink">
               <img src="/images/heart.png" alt="heart">
            </figure>

         </div>
      </a>
      <!--não está em uso
            .....ESTADO CHOQUE.....
         <a href="" class="links_procedimentos link-estadoChoque">
            <div class="container-links container-estadoChoque">
               
               <figure class="links_figures figure-estadoChoque">
                  <img class="estadoChoque-img" src="/images/estado_choque.png" alt="homem estado choque">
               </figure>

               <h3 class="links_text text-hemorragia">Estado Choque</h3>

               <figure class="figure-heartLink">
                  <img src="/images/heart.png" alt="heart">
               </figure>

            </div>
         </a>
      -->

        <!--..........FOOTER.................-->
      <footer id="container-footer">

         <figure class="figure-footer casa">
            <img src="/images/house-solid.png" alt="casa">
         </figure>

         <figure class="figure-footer ambulancia">
            <img src="/images/ambulancia.png" alt="ambulância">
         </figure>

         <figure class="figure-footer opcoes">
            <img src="/images/escolha.png" alt="casa">
         </figure>

      </footer>
   </section>

</body>

</html>