<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CALCULADORA IMC</title>
    <link rel="stylesheet" th:href="@{/css/imc.css}">
    <link rel="stylesheet" th:href="@{/css/geral.css}">
    <script th:src="@{script/imc.js}"></script>

</head>

<body class="body_imc">
    

<section class="container-geral-calculadora">
    <div class="imcHeader">
        <a th:href="@{/home}"  class="reply">
            <figure class="figureReply">
                <img src="/images/reply_black_24dp.png">
            </figure>
        </a>        
    </div>
    <h2 class="title_CalculeImc">CALCULE O IMC</h2>
    
    <form class="formCalculo">
        <div class="container-peso" >
            <label for="weight" class="label_peso">Peso</label><br>
            <input  type="number" class="input_peso" id="weight" name="peso" placeholder="Digite o peso" required autocomplete="off">
        </div>
        <div class="container-altura">
            <label for="height" class="label_altura" >Altura</label><br>
            <input  type="number" class="input_altura" id="height" name="altura" placeholder="Digite a altura" required autocomplete="off">
        </div>
        <div class="container-buttons">
          <button type="button" class="button_imc button_calcular" onclick="calcularIMC()">Calcular</button>            
          <button type="button" class="button_imc button_limpar" onclick="limparCampos()">Limpar</button>
        </div>         
    </form>
    <!--.....SAÍDA RESULTADO IMC......-->
    <div class="containerSaidaResultado">
        <h3 id="saida1"></h3>
        <p id="saida2"></p>
    </div>
    
</section>
</body>
</html>