<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Jailson Rodrigues">
    <title>INDEX</title>
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="stylesheet" th:href="@{/css/geral.css}">
</head>

<body class="body_index">

    <div class="container-index">
        
        <figure class="heart_index">
           <img src="/images/heart.png">
        </figure>
    
        <h1 class="text-index">PRIMEIROS<br>SOCORROS</h1>
    
        <div class="container-botoes">
            <a th:href="@{/login}"  class="links-pag">
                <button class="btn_1-entrar" >Login</button>
            </a>
            <a th:href="@{/cadastro}" class="links-pag">
                <button class="btn_2-cadastre">Cadastre-se</button>
            </a>
        </div>
    
        <div class="container-textInformativo">
            <p class="text_index-informativo">
                <span>Bem-vindos</span><br>Em casos de emergência, saiba como proceder usando este app
            </p>
        </div>
    </div>
</body>
</html>