<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Jailson Rodrigues">
    <title>INDEX</title>
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="stylesheet" th:href="@{/css/geral.css}">
</head>

<body class="body_index">

    <section class="container-index">
        
        <figure class="heart_index">
           <img class="heart-index" src="/images/heart.png">
        </figure>
    
        <h1 class="title-index">PRIMEIROS<br>SOCORROS</h1>
    
        <!--........BUTTON LOGIN......-->
        <div class="container-button">
            <a  class="link-login" th:href="@{/login}" >
                <button class="btn-login" >Login</button>
            </a>
        </div>
        <!--........LINK CADASTRE-SE......-->
        <div class="container-cadastre">
            <a class="link-cadastre" th:href="@{/cadastro}">
                <p class="text-cadastre">Cadastre-se</p>
            </a>
        </div>
    
        <div class="container-textInformativo">
            <p class="text_index-informativo">
                <span>Bem-vindos</span><br>Em casos de emergência saiba como proceder usando este app
            </p>
        </div>
    </section>
</body>
</html>