<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    List
    Users</title>
  <link rel="stylesheet" th:href="@{/css/listUsers.css}">
  <link rel="stylesheet" th:href="@{/css/geral.css}">
  <script th:src="@{/script/eventos.js}"></script>
</head>
<body>
<section
        class="container-listUsers">

  <div class="header-list">
    <h3 class="title-list">LISTA DE USUÁRIOS</h3>

    <!--.......DROPDOWN........-->
    <nav class="dropdown">
      <figure class="barMenu" id="bar-trigger">
        <img class="dropdown-toggle bar-menu" src="/images/bar_menu_blue.png" alt="barra de menu">
      </figure>
      <ul class="dropdown-menu" id="dropdown-trigger">
        <a th:href="@{/home}" class="dropdown-item" href="#">
          <li>
            <span class="symbol">&#10913; </span>Home
          </li>
        </a>
        <a th:href="@{/login}" class="dropdown-item" href="#">
          <li>
            <span class="symbol">&#10913; </span>Login
          </li>
        </a>
        <a th:href="@{/cadastro}" class="dropdown-item" href="#">
          <li>
            <span class="symbol">&#10913; </span>Cadastro
          </li>
        </a>
        <a th:href="@{/lista}" class="dropdown-item" href="#">
          <li>
            <span class="symbol">&#10913; </span>Lista Usuários
          </li>
        </a>
        <a th:href="@{/imc}" class="dropdown-item" href="#">
          <li>
            <span class="symbol">&#10913; </span>Cálculo Imc
          </li>
        </a>
      </ul>
    </nav>
  </div><!--....Fim dropdown....-->

  <!--.....MENSAGEM ALERTA CADASTRE USUÁRIO.......-->
  <div class="aviso" th:if="${listUsers.empty}">
    <a th:href="@{/cadastro}" class="messageCadastre">
      <figure class="container_folder">
        <img class="folder_empty" src="/images/folder_empty.png" alt="pasta vazia">
      </figure>
      <p class="alerta_cadastre">Cadastre um usuário!</p>
    </a>
  </div>

  <!--......TABELA USUÁRIOS..........-->
  <div class="container-table">
    <table class="tableUsers">
      <tr class="tr-cabecalho">
        <th>Id</th>
        <th>Nome</th>
        <th>Email</th>
        <th>Senha</th>
        <th>Ação</th>
      </tr>
      <tr th:each="user:${listUsers}" class="tr-atributos">
        <td th:text="${user.id}" class="td-list td-id"></td>
        <td th:text="${user.nome}" class="td-list td-nome"></td>
        <td th:text="${user.email}" class="td-list td-email"></td>
        <td th:text="${user.senha}" class=".......td-list td-senha"></td>
        <td class="td-list td-delete">

          <!--.....APAGAR USUÁRIOS..........-->
          <a th:href="@{/apagar/{id}(id=${user.id})}" class="link_act">
            <figure class="container-act">
              <img class="act" src="/images/trash_yellow.png" alt="lixeira" >
            </figure>
          </a>

          <!--.....EDITAR USUÁRIOS..........-->
          <a th:href="@{/editar/{id}(id=${user.id})}" class="link_act">
            <figure class="container-act">
              <img class="act" src="/images/edit.png" alt="lixeira">
            </figure>
          </a>
        </td>
      </tr>
    </table>
  </div>

  

  <!--..........FOOTER in geral.css.................-->
  <footer id="container-footer">
    <a class="house-link" th:href="@{/home}">
      <figure class="figure-footer casa">
        <img src="/images/house-solid.png" alt="casa">
      </figure>
    </a>
    <a class="house-link" href="#">
      <figure class="figure-footer ambulancia">
        <img src="/images/ambulancia.png" alt="ambulância">
      </figure>
    </a>
    <a class="house-link" href="#">
      <figure class="figure-footer opcoes">
        <img src="/images/escolha.png" alt="casa">
      </figure>
    </a>
  </footer>
</section>
</body>
</html>