<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LOGIN</title>
    <link rel="stylesheet" th:href="@{/css/login.css}" />
    <link rel="stylesheet" th:href="@{/css/geral.css}" />
  </head>
<body class="body_login">
<section class="containerGeral-login">
    <a th:href="@{/}" class="arrow_link">
        <figure class="arrowLeft">
            <img class="arrow" src="/images/reply_black_24dp.png" alt="seta para esquerda (left arrow)">
            <figcaption class="text-sair">sair</figcaption>
        </figure>
    </a>

    <figure class="heart_login">
        <img src="/images/heart.png">
        
    </figure>

    <h2 class="text-login">LOGIN</h2>

        <div class="container-form-login">
        <form class="form-login">
            <div class="container-email">
                <label for="email" class="label-login label-email">Email</label><br>
                <input type="email" class="input-login input_login-email" id="email" >
            </div>
            <div class="container-email">
                <label for="email" class="label-login label-psw">Senha</label><br>
                <input type="password" class="input-login input_login-psw" id="password" >
            </div>
            <!--...BOTÃO SUBMIT - geral.css...-->
            <button type="submit" class="btn-submit">ENTRAR</button>
        </form>

        <!--...LINK PARA listUsers...-->
        <p class="container-listUsers">
            <img class="person" src="/images/user_gear_white.png" alt="ícon person/ ícone de uma pessoa">
            <a th:href="@{/lista}"  class="link-users" >Usuários cadastrados</a>
        </p>
    </div>
</section>
</body>
</html>
