<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>MENU</title>
   <link rel="stylesheet" th:href="@{/css/listUsers.css}">
</head>
<body>

 <div class="dropdown">
  <img class="dropdown-toggle" src="/images/bars.solid.png" alt="barra de menu">
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">Home</a></li>
    <li><a class="dropdown-item" href="#">Login</a></li>
    <li><a class="dropdown-item" href="#">Cadastro</a></li>
    <li><a class="dropdown-item" href="#">Usuários</a></li>
  </ul>
</div>
  </body>
  </html>