<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Resultado IMC</title>
    <link rel="stylesheet" th:href="@{/css/resultadoImc.css}">
   <script src="/script/imc.js"></script>
</head>
<body>

<section class="container-geral">
   <div class="container-saida">
        <h4 id="saida1"></h4>
        <h4 id="saida2"></h4>        
    </div>
    <figure class="img_created">
    </figure>

    <button type="submit" class="button_limpar" onclick="limparCampos()">limpar</button>
            </div>  
</section>
   
</body>
</html>